* {
    font-family: 'Concert One', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/Ruleta-equipo-uno/precentacion/CLASE3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}

/* -----botones P-I-E-----*/
.btn-pie {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btn-p {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
}

.btn-p:active {
    transform: scale(0.96);
}

.btn-p:before,
.btn-p:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.btn-p:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.btn-p:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.btn-i {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
}

.btn-i:active {
    transform: scale(0.96);
}

.btn-i:before,
.btn-i:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.btn-i:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.btn-i:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.btn-e {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
}

.btn-e:active {
    transform: scale(0.96);
}

.btn-e:before,
.btn-e:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.btn-e:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.btn-e:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}


/* -----boton home-----*/
.btn-back {
    color: #7d2ae8;
    position: absolute;
    top: 80%;
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

.btn-back>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.btn-back:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.btn-back:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}

/*-----boton participantes-----*/
.btn {
    color: #fff;
    position: absolute;
    top: 8%;
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #7d2ae8;
}


.text {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    transform: translateX(-2px);
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}


/*-----boton delete-----*/

.btn-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-color: transparent;
    position: relative;
    border: none;
    margin-top: -4%;
}


.icon {
    transform: scale(1.2);
    transition: .2s linear;
}

.btn-delete:hover>.icon {
    transform: scale(1.5);
}

.btn-delete:hover>.icon path {
    fill: #7d2ae8;
}

.btn-delete:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
}

/*-----boton add-----*/
.input-group {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    max-width: 160px;
}

.btn-add {
    font-size: 17px;
    padding: 5px 10px;
    border: transparent;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
    background: rgb(6, 6, 6);
    border-radius: 0 10px 10px 0;
    transition: 0.3s;
}

.btn-add:hover {
    transition: 0.3s;
    background-color: #36005b;
    cursor: pointer;
}

.btn-add:active {
    transform: translate(0em, 0.2em);
}

.btn-add span {
    font-weight: 800;
    letter-spacing: 2px;
    background: #E6E6FA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}


/* color para imput nombre*/
::placeholder {
    color: rgb(184, 184, 184);


}

#inputAlumno {
    border-radius: 10px 0px 0px 10px;
    border-color: #fff;
}


.material-symbols-outlined {

    float: right;
    cursor: pointer;
    font-size: 90%;
    color: #fff;
    margin-bottom: 0%;
}


.modalContainer {
    display: none;

}


.modal-content {
    box-shadow: #000000 0px 0px 10px 0px;
    position: relative;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7d2ae8;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}


.li-container {
    border-radius: 10px;
    padding: 6px;
    margin-top: 20px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: flex-start;

}

.select-all {
    display: block;
    margin-bottom: 10px;
}

.select-all input[type="checkbox"] {
    margin-right: 5px;
}





.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 150px;
    font-size: 40px;
    position: absolute;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    animation: carrusel 9s linear infinite;

}

.texto_lista_tarjetas {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h3 {
    color: white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100px;


}



@keyframes carrusel {
    from {
        transform: rotateY(360deg) translateZ(500px);
        z-index: 10;


    }

    50% {
        z-index: -10;
    }

    to {
        transform: rotateX(0deg) translateZ(300px);
        z-index: 10;
    }
}

#card {
    display: none;
    background-color: rgb(174, 0, 0);

}


.caja_participante {
    display: flex;
    justify-content: left;
    width: 30%;
    height: 50%;
    background-color: rgb(255, 0, 0);
    margin-top: 0%;
    text-decoration: none;
}

.titulo_agregar_tarjeta {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bloketarjeta {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    ;
    margin-top: 10px;
}



@media(max-width: 600px) {
    @keyframes carrusel {
        from {
            transform: rotateY(360deg) translateZ(150px);
            z-index: 10;


        }

        50% {
            z-index: -10;
        }

        to {
            transform: rotateX(0deg) translateZ(150px);
            z-index: 10;
        }
    }

    .modal-content {
        width: 80%;
    }

    .btn-pie {
        display: flex;
    }

    .btn-p {
        display: flex;
        justify-content: center;
        width: 10px;


    }

    .btn-i {
        display: flex;
        justify-content: center;
        width: 10px;
    }

    .btn-e {
        display: flex;
        justify-content: center;
        width: 10px;
    }

    .btn {
        width: 40px;
    }

    .btn-back {}

    .tarjeta {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 140px;
        font-size: 40px;
        position: absolute;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        animation: carrusel 9s linear infinite;

    }

    #inputAlumno {
        width: 80px;
    }

    .btn-add {
        width: 80px;
        font-size: small;
    }


    .li-container {
        font-size: small;

    }

    #delete {
        margin-bottom: 55%;
    }
        ::placeholder {
            color: rgb(184, 184, 184);
            font-size: small;
    
    
        }
}

/* -------------animaciones de festejo-----*/

@keyframes animacionTarjeta {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.animacion {
    animation: animacionTarjeta 0.5s ease infinite;
}


/* -------------animaciones de confeti  no funciona-----*/




/* @keyframes confeti-fall {
    0% {
        transform: translateY(-100vh) rotateZ(0);
    }
    100% {
        transform: translateY(100vh) rotateZ(720deg);
    }
}

.confeti {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ff0000;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: confeti-fall 3s ease-out infinite;
    opacity: 10; 
    transform-origin: center;
} */

/* .confeti:nth-child(1) {
    left: 5%;
    animation-delay: 0.1s;
}

.confeti:nth-child(2) {
    left: 10%;
    animation-delay: 0.3s;
}
.confeti:nth-child(3) {
    left: 15%;
    animation-delay: 0.6s;
}
.confeti:nth-child(4) {
    left: 20%;
    animation-delay: 0.8s;
}
.confeti:nth-child(5) {
    left: 25%;
    animation-delay: 10s;
} */


.contenedor-audio {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.btn-v {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: rgb(125, 42, 232);
    transition: all 0.2s ease;
    margin-right: 10px;
}