body {
    background-image: url(/precentacion/CLASE3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}


.btn {
    position: relative;
    bottom: 100px;
    ;
}

.aleatorio {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    flex: 0 1 300px;
}

div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.tarjeta {
    width: 100px;
    height: 150px;
    font-size: 40px;
    position: absolute;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    animation: carrusel 9s linear infinite;
}


h3 {
    color: white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100px;


}

button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;

}

button:hover {
    background-color: violet;
    padding: 15px;
}

/* input{
    margin-bottom: 300px;
   
} */


@keyframes carrusel {
    from {
        transform: rotateY(360deg) translateZ(500px);
        z-index: 10;


    }

    50% {
        z-index: -10;
    }

    to {
        transform: rotateX(0deg) translateZ(300px);
        z-index: 10;
    }
}

#card {
    background-color: black;

}

/* #card-1 {
    background-image: url(img/img1.jpg);
    background-size: cover;
}

#card-2 {
    background-image: url(img/img2.jpg);
    background-size: cover;
    animation-delay: ;
}

#card-3 {
    background-image: url(img/img3.jpg);
    background-size: cover;
    animation-delay: -4s;
}

#card-4 {
    background-image: url(img/img4.jpg);
    background-size: cover;
    animation-delay: -6s;
}

#card-5 {
    background-image: url(img/img5.jpg);
    background-size: cover;
    animation-delay: -8s;
}

#card-6 {
    background-image: url(img/img6.jpg);
    background-size: cover;
    animation-delay: -10s;
}

#card-7 {
    background-image: url(img/img7.jpg);
    background-size: cover;
    animation-delay: -12s;
}

#card-8 {
    background-color: aqua;
    animation-delay: -14s;
}

#card-9 {
    background-color: black;
    animation-delay: -16s;
}

#card-10 {
    background-color: blue;
    animation-delay: -18s;
}

#card-11 {
    background-color: red;
    animation-delay: -20s;
}

#card-12 {
    background-color: blueviolet;
    animation-delay: -22s;
}

#card-13 {
    background-color: black;
    animation-delay: -24s;
}

#card-14 {
    background-color: yellow;
    animation-delay: -26s;
}

#card-15 {
    background-color: green;
    animation-delay: -28s;
}

#card-16 {
    background-color: grey;
    animation-delay: -30s;
}

#card-17 {
    background-color: fuchsia;
    animation-delay: -32s;
}

#card-18 {
    background-image: url(img/img9.jpg);
    background-size: cover;
    animation-delay: -34s;
}  */

@media(max-width: 600px) {
    @keyframes carrusel {
        from {
            transform: rotateY(360deg) translateZ(150px);
            z-index: 10;


        }

        50% {
            z-index: -10;
        }

        to {
            transform: rotateX(0deg) translateZ(150px);
            z-index: 10;
        }
    }


}